[submodule "Password_Manager"]
	path = Password_Manager
	url = https://github.com/Tanya-Arora21/Password_Manager
[submodule "packet-sniffer"]
	path = packet-sniffer
	url = https://github.com/legbing/packet-sniffer
